<h1>Sign In</h1>
<%= form_with url: sessions_path do |form| %>
  <label>Username: </label>
  <%= form.text_field :username, placeholder: 'Username' %>

  <label>Password: </label>
  <%= form.password_field :password_digest, placeholder: 'Password' %>

  <%= form.submit 'Log In' %>
<% end %>
