<%= form_with(model: dish_type, local: true) do |form| %>
  <% if dish_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dish_type.errors.count, "error") %> prohibited this dish_type from being saved:</h2>

      <ul>
      <% dish_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
