<div class="container-fluid text-center">
<h1 class="display-1">Foodie</h1></br>
  <div class="card-columns col-xs-12">
    <% @recipes.each do |recipe| %>
    <%= link_to(recipe) do %>
      <div class="card">
      <%= image_tag recipe.img_url, class: "recipe-list-image rounded" %>
        <div class="card-body recipe-body">
          <div class="recipe-title"><%= recipe.title %></div>
          <div>Cook Time: <%= recipe.cook_time %></div>
        </div>
      </div>
      <% end %>
    <% end %>
  <div>
</div>
