<h1>Recipes</h1>
<div>
  <% @recipes.each do |recipe| %>
    <div><%= link_to (image_tag recipe.img_url, size: "210x200"), recipe %></div>
    <div><%= link_to recipe.title, recipe %></div></br>
  <% end %>
</div>

<%= link_to 'Add a New Recipe', new_recipe_path %>
