<div class="container text-justify">
</div>
<div class="container text-justify">
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
      <div class="display-1 text-center"><a><%= link_to 'Foodie', recipes_path%></a></div></br>
    </tr>
  </thead>

  <tbody>

    <div class="container-fluid text-center">

    <h1>Users</h1></br>
      <div class="card-columns col-xs-12">
        <% @users.each do |user| %>
        <%= link_to(user) do %>
          <div class="card">
          <%= image_tag user.img_url, class: "user-list-image rounded" %>
            <div class="card-body user-body">
              <div class="user-title"><%= user.username %></div>
            </div>
          </div>
          <% end %>
        <% end %>
      <div>
    </div>
  </tbody>
</table>

<br>
</div>
