<p class="text-right"><%= link_to 'Back', tags_path %></p>
<div class="container text-center">
<h2><%=  @tag.name %></h2>

<div>
  <div><% @tag.recipes.each do |recipe| %></div>
            <div><%= link_to (image_tag recipe.img_url, size: "210x200"), recipe %></div>
            <div><%= link_to recipe.title, recipe %></div><br>
       <% end %>
    </div>
</div></br>
</div>
