/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";


body.home {
    background-image: url("https://img.sndimg.com/food/image/upload/v1/img/recipes/54/25/7/1O1KC1wTKTskFlseYbws_0S9A6432.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background-image: url("https://images.pexels.com/photos/955454/pexels-photo-955454.jpeg");
    // background-size: cover;
    // background-repeat: no-repeat;
    background-position: center;
  }

.recipe-list-image {
  width: 100%;
  height: auto;
}

.recipe-body {
  color: #000;
}

.recipe-title {
  font-weight: bold;
  font-size: 120%;
}

.user-list-image {
  width: 100%;
  height: auto;
}

.user-title {
  font-weight: bold;
  font-size: 120%;
}

.user-body {
  color: #000;
}

.foodie-cursive {
  font-family: Snell Roundhand, cursive;
  font-weight: bold;
  font-size: 500%;
}

.display-1 {
  font-weight: bold;
  color: #fff;
}

.display-1 a {
  color: #FFFFFF;
  text-decoration: none;
}

.display-6 {
  color: #fff;
}

.inline {
  display: inline;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}