/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";


body.home {
    background-image: url("https://img.sndimg.com/food/image/upload/v1/img/recipes/54/25/7/1O1KC1wTKTskFlseYbws_0S9A6432.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background-color: rgb(252, 233, 238);
  }

.recipe-list-image {
  width: 100%;
  height: auto;
}

.recipe-body{
  color: #000;
}

.foodie-cursive {
  font-family: Snell Roundhand, cursive;
  font-weight: bold;
  font-size: 500%;
}